/* Vue Content Loader */
html[dir="rtl"] svg.content-loader {
    transform: scaleX(-1);
}

/* Bootstrap Pagination */
.page-item:last-child .page-link {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
}

.page-item:first-child .page-link {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
}

.page-item:not(:first-child) .page-link {
    margin-left: 0px;
    margin-right: -1px;
}